---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Home";
---
<Layout pageTitle={pageTitle}>
    <h1>Tristen Tomczak</h1>
    <h2>About</h2>
    <p>
        As a software developer with expertise in C# and TypeScript,
        I bring a unique set of skills to any development team.
        What sets me apart from others in my field is my strong communication skills,
        which enable me to collaborate effectively with colleagues and clients alike.
    </p>
    <p>
        Currently, I am targeting a full-stack developer role where I can leverage my
        experience and skills to build robust and innovative solutions for clients.
        If you're looking for a developer who can bring both technical expertise
        and strong communication skills to your team, please don't hesitate to reach out!
    </p>
</Layout>
