---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Tristen Tomczak";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Tristen Tomczak</h1>
    <small>Digital Craftsman (Developer)</small>
    <h2>About</h2>
    <p>
        As a software developer with expertise in C# and TypeScript,
        I bring a unique set of skills to any development team.
        What sets me apart from others in my field is my strong communication skills,
        which enable me to collaborate effectively with colleagues and clients alike.
    </p>
    <p>
        Currently, I am targeting a full-stack developer role where I can leverage my
        experience and skills to build robust and innovative solutions for clients.
        If you're looking for a developer who can bring both technical expertise
        and strong communication skills to your team, please don't hesitate to reach out!
    </p>
    <div class="button">
        <a href="/works/">
            <button>My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="link-images">
        <img width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-plain.svg"/>
        <img width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
        <img width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"/>
        <img width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"/>
        <img width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"/>
        <img width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"/>
        <img width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"/>
        <img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>
        <img width="46" height="46" alt="PostGres" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        As a software developer in Wisconsin, I enjoy spending time outdoors in the warmer months.
        Walking, mountain biking, and disc golf are some of my favorite activities.
        Recently, I've also taken up chess for its mental stimulation.
        Disconnecting from technology and immersing myself in nature or games helps maintain a healthy work-life balance.
    </p>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        background-color: #1e1e2e;
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #78c2ad;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #fdebf3;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
