---
const year = new Date().getFullYear();
---
<footer>
    <div>
        <div>
            <ul class="icons">
                <li><a href="#" target="_blank" class="foot-btn"><span class="git-icon">GitHub</span></a></li>
                <li><a href="mailto: #@gmail.com" class="foot-btn"><span class="mail-icon">Email</span></a></li>
                <li><a href="#" target="_blank" class="foot-btn"><span class="linked-in">LinkedIn</span></a></li>
            </ul>
        </div>
        <small>&copy; {year} Milky-Way by <a href="https://github.com/ttomczak3">ttomczak</a>. All Rights Reserved.</small>
    </div>
</footer>
<style>
    ul.icons {
		cursor: default;
		list-style: none;
	}

    ul.icons li {
        display: inline-block;
        padding: 0 0.75rem 0 0;
    }

    div {
        margin: 4rem 0;
        text-align: center;
    }

    small {
        font-family: 'Josefin Sans', sans-serif; 
    }

    small a {
        color: #375a7f;
        text-decoration: none;
    }
</style>
