---
const year = new Date().getFullYear();
---
<footer>
    <div>
        <small>&copy; {year} Tristen Tomczak. All Rights Reserved.</small>
    </div>
</footer>
<style>
    div {
        margin: 4rem 0;
        text-align: center;
    }
    small {
        color: #fdebf3;
        font-family: 'Josefin Sans', sans-serif; 
    }
</style>
