---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Milky-Way</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/ttomczak3/Milky-Way" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

