---
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Tristen Tomczak</a>
    </div>
    <div class="nav-links">
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/ttomczak3" target="_blank">GitHub</a>
    </div>
</div>
